.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.menu {
font-family:arial;
border:0px;
}

.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.menuitem-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

:hover.menuitem-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.channelpage-logo {
font-family:arial;
border:0px;
}

.channelpage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.channelpage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.channelpage-coverinformation {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.channelpage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.channelpage-program-row{
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.channelpage-program-row-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.channelpage-program-row-started{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.channelpage-program-row-started-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.channelpage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.channelpage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.channelpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.channelpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.channelpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:inherit;
text-decoration:none;
}

:hover.channelpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

.channelpage-coverinformation {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.channelpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

:hover.channelpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.channelpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.channelpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}







.subscriptionpage-logo {
font-family:arial;
border:0px;
}

.subscriptionpage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.subscriptionpage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.subscriptionpage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.subscriptionpage-program-row{
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.subscriptionpage-program-row-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.subscriptionpage-program-row-started{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.subscriptionpage-program-row-started-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.subscriptionpage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.subscriptionpage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.subscriptionpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.subscriptionpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.subscriptionpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:inherit;
text-decoration:none;
}

:hover.subscriptionpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

.subscriptionpage-coverinformation {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.subscriptionpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

:hover.subscriptionpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.subscriptionpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.subscriptionpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}







.programpage-logo {
font-family:arial;
border:0px;
}

.programpage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.programpage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.programpage-coverinformation {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.programpage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.programpage-header-row{
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.programpage-program-row{
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.programpage-program-row-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.programpage-program-row-started{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.programpage-program-row-started-otherday{
font-family:arial;
font-size:12px;
color:#888888;
text-decoration:none;
}

.programpage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.programpage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.programpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.programpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.programpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:inherit;
text-decoration:none;
}

:hover.programpage-programtitle {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

.programpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

:hover.programpage-button-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.programpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.programpage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}




.loginpage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-footer {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.loginpage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.loginpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.loginpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-text {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-logo {
font-family:arial;
border:0px;
}

.layout-header {
}

.layout-body {
}

.layout-body-menu {
}

.layout-body-content {
}

.layout-footer {
}

.layout-menu {
}

.layout {
}

.layout-main {
font-family:arial;
border:0px;
}

.layout-header-separator-line {
}

.layout-header-separator {
}

.layoutempty-body {
}

.layoutempty-body-content {
}

.layoutempty {
}

.layoutempty-main {
font-family:arial;
border:0px;
}

.layoutnomenu-header {
}

.layoutnomenu-body {
}

.layoutnomenu-body-content {
}

.layoutnomenu-footer {
}

.layoutnomenu {
}
.layoutnomenu-main {
font-family:arial;
border:0px;
}

.layoutnomenu-header-separator-line {
}

.layoutnomenu-header-separator {
}
