a.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#4477dd;
text-decoration:none;
}

a:hover.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

a.bold-link-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

a:hover.bold-link-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

a.link {
font-family:arial;
color:#000000;
}

a:hover.link {
font-family:arial;
color:#4477dd;
}

p.normal {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

p.bold {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

p.title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

p.big-title {
font-family:arial;
font-size:18px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

font.title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

font.big-title {
font-family:arial;
font-size:18px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

div.bold {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

td.left-margin {
font-family:arial;
font-size:12px;
text-decoration:none;
width:10px;
}

td.sub-menu {
font-family:arial;
font-size:12px;
text-decoration:none;
width:5px;
}

td.no-border-tight {
font-family:arial;
margin:0px;
padding:0px;
}

td #calendar-month {
font-family:arial;
border:0px;
width=27px;
}

table.no-border {
font-family:arial;
border:0px;
}

table.no-border-tight {
font-family:arial;
margin:0px;
padding:0px;
border:0px;
border-collapse: collapse;
}
