.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.menu {
font-family:arial;
border:0px;
}

.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-text {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-logo {
font-family:arial;
border:0px;
}

.layout-header {
}

.layout-body {
}

.layout-body-menu {
}

.layout-body-content {
}

.layout-footer {
}

.layout-menu {
}

.layout {
}

.layout-main {
font-family:arial;
border:0px;
}

.layout-header-separator-line {
}

.layout-header-separator {
}
