.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.bold-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.menu {
font-family:arial;
border:0px;
}

.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.menuitem {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.menuitem-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

:hover.menuitem-selected {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.propertypage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-notice {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.propertypage-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.picturepage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.picturepage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.picturepage-footer {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.picturepage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.picturepage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.picturepage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.picturepage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.picturepage-resolution {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.picturepage-resolution {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.picturepage-picture-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

.picturepage-pictures-row {
}

.picturepage-pictures-cell {
}

.picturepage-picture-row {
}

.picturepage-picture-cell {
}

.picturepage-picture-thumbnail {
}

:hover.picturepage-picture-link {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.picturepage-picture-title {
}

.picturepage-picture-description {
font-family:arial;
font-size:12px;
font-weight:normal;
color:#000000;
text-decoration:none;
}

.picturepage-navigation-row {
}

picturepage-navigation-cell {
}

.singlepicturepage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.singlepicturepage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.singlepicturepage-footer {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.singlepicturepage-footer-title {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.singlepicturepage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.singlepicturepage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.singlepicturepage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.singlepicturepage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.loginpage-header {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-body {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-footer {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
border:0px;
}

.loginpage-title {
font-family:arial;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.loginpage-description {
font-family:arial;
font-size:12px;
color:#000000;
text-decoration:none;
}

.loginpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#397AC0;
text-decoration:none;
}

:hover.loginpage-button {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-text {
font-family:arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.header-logo {
font-family:arial;
border:0px;
}

.layout-header {
}

.layout-body {
}

.layout-body-menu {
}

.layout-body-content {
}

.layout-footer {
}

.layout-menu {
}

.layout {
}

.layout-main {
font-family:arial;
border:0px;
}

.layout-header-separator-line {
}

.layout-header-separator {
}

.layoutempty-body {
}

.layoutempty-body-content {
}

.layoutempty {
}

.layoutempty-main {
font-family:arial;
border:0px;
}

.layoutnomenu-header {
}

.layoutnomenu-body {
}

.layoutnomenu-body-content {
}

.layoutnomenu-footer {
}

.layoutnomenu {
}
.layoutnomenu-main {
font-family:arial;
border:0px;
}

.layoutnomenu-header-separator-line {
}

.layoutnomenu-header-separator {
}
